{% extends "masterPage.twig" %}
 
{% block content %}
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/assets/images/baniere2.jpg);">
	<h2 class="l-text2 t-center" style="text-shadow: -1px -1px 0 #ffc0cb, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
		Mon compte
	</h2>
</section>
<div class="container p-t-55 p-b-65">
	<div class="row">
		<div class="col-md-3 m-b-55">
		     <div class="list-group ">
              <a href="/account" class="list-group-item list-group-item-action active">
                    <img src="/assets/images/icons/account.svg" class="account-wrapicon1" alt="ICON">
                    Aperçu du compte</a>
              <a href="/orders" class="list-group-item list-group-item-action">
                  <img src="/assets/images/icons/orders.svg" class="account-wrapicon1 " alt="ICON">
                    Mes commandes</a>
              <a href="/info" class="list-group-item list-group-item-action">
                    <img src="/assets/images/icons/infos.svg" class="account-wrapicon1 " alt="ICON">
                  Mes informations</a>
              <a href="/password" class="list-group-item list-group-item-action">
                  <img src="/assets/images/icons/password.svg" class="account-wrapicon1 " alt="ICON">
                    Changer de mot de passe</a>
              <a href="/logout" class="list-group-item list-group-item-action">
                <img src="/assets/images/icons/logout.svg" class="account-wrapicon1 " alt="ICON">
                D&eacute;connexion</a>
            </div> 
		</div>
		<div class="col-md-9" style = "background-image:url(/assets/images/account.jpg);height: 120vh;width: 100%;
		background-size: 70vw 65vh;background-repeat: no-repeat;">
    <br>   
   
	  </div>
</div>
</div>

{% endblock %}
