<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
	<div class="flex-w p-b-90">

		<div class="p-t-15 p-l-15 p-r-15 respon4" style="margin:auto;">
			
			<h4 class="s-text12 p-b-15 t-center">
				Catégories
			</h4>
			<ul class="footer_cat">
				<li class="p-t-4">
					<a href="/products?type=all" class="s-text7">Tout</a>
				</li>

				<li class="p-t-4">
					<a href="/products?type=Lipstick" class="s-text7">Rouge à lèvres</a>
				</li>

				<li class="p-t-4">
					<a href="/products?type=Palette" class="s-text7">Palettes</a>
				</li>

				<li class="p-t-4">
					<a href="/products?type=Foundation" class="s-text7">Fond de teint</a>
				</li>

				<li class="p-t-4">
					<a href="/products?type=Highlighter" class="s-text7">Highlighter</a>
				</li>
			</ul>
			
		</div>
		
	</div>
</footer>



<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
<script src="/assets/animsition/js/animsition.min.js"></script>
<script src="/assets/bootstrap/js/popper.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/select2/select2.min.js"></script>
<script src="/assets/slick/slick.min.js"></script>
<script src="/assets/js/slick-custom.js"></script>

<script >
$(".selection-1").select2({
	minimumResultsForSearch: 20,
	dropdownParent: $('#dropDownSelect1')
});

$(".selection-2").select2({
	minimumResultsForSearch: 20,
	dropdownParent: $('#dropDownSelect2')
});
</script>
<!--===============================================================================================-->

<script>
window.onload = function()
{
	var header = document.getElementById("account");
	var headermobile = document.getElementById("account-mobile");
	var icon = document.getElementById("cart-icon");
	var iconmobile = document.getElementById("cart-icon-mobile");

	var nbcart = '{{ nbcart|e("js")}}';

	//affichage du lien déconnexion si l'utilisateur est connecté
	//(utilisation de nbcart car s'il est défini c'est que l'user est connecté)
	if(nbcart)
	{
		header.innerHTML = "<ul><li><a href=\"/signin\">Mon compte</a></li><li><a href=\"/orders\">Mes commandes</a></li><li><a href=\"/logout\">Me déconnecter</a></li></ul>";
		headermobile.innerHTML = "<ul><li><a href=\"/signin\">Mon compte</a></li><li><a href=\"/orders\">Mes commandes</a></li><li><a href=\"/logout\">Me déconnecter</a></li></ul>";
	}
	else
	{
		header.innerHTML = "<ul><li><a href=\"/signin\">Connexion</a></li></ul>";
		headermobile.innerHTML = "<ul><li><a href=\"/signin\">Connexion</a></li></ul>";
		nbcart=0;
	}
	
	icon.innerHTML = nbcart;
	iconmobile.innerHTML = nbcart;
};

var nbcart = '{{ nbcart|e("js")}}';

function addquantity(val)
{
	var total = document.getElementById("total"+val);
	var total_cart = document.getElementById("total_cart");
	var value = document.getElementById("value"+val).innerHTML;
	var new_total = parseFloat(value,10) + parseFloat(total.innerHTML,10);
	var new_total_cart = parseFloat(value,10) + parseFloat(total_cart.innerHTML,10);
	
	$.ajax({
		type: 'POST',
		url: "/cart/addQuantity",
		data: {
			id : val
			},
		success: function(result){
			total_cart.innerHTML = new_total_cart+"€";
			total.innerHTML = new_total+"€";
		}
	});
}

function removequantity(val)
{
	var icon = document.getElementById("cart-icon");
	var iconmobile = document.getElementById("cart-icon-mobile");
	
	var total = document.getElementById("total"+val);
	var total_cart = document.getElementById("total_cart");
	var value = document.getElementById("value"+val).innerHTML;
	var quantity = document.getElementById("quantity"+val).value;

	var new_total = parseFloat(total.innerHTML,2) - parseFloat(value,2);
	var new_total_cart = parseFloat(total_cart.innerHTML,2) - parseFloat(value,2);
	
	//si la quantité de l'article est > 1
	if(quantity > 1)
	{
		$.ajax({
			type: 'POST',
			url: "/cart/removeQuantity",
			data: {
				id : val
			},
			success: function(result){
				total_cart.innerHTML = new_total_cart.toFixed(2)+"€";
				total.innerHTML = new_total.toFixed(2)+"€";
			}
		});
	}
	//sinon on le supprime
	else
	{
		$('#myModal').modal('show'); 
		
		var del = document.getElementById("delete");
		del.onclick = function()
		{
			$.ajax
			({
				type: 'POST',
				url: "/cart/deleteItem",
				data: {
					id : val
				},
				success: function(result)
				{
					$('#myModal').modal('hide'); 
					
					//si il y a dautres articles dans le panier
					if(nbcart>1)
					{
						total_cart.innerHTML = new_total_cart.toFixed(2)+"€";
						var row = document.getElementById("row"+val);
						row.remove();
					}
					
					//sinon on supprime le panier
					else
					{
						var row = document.getElementById("container");
						row.innerHTML="<div class=\"sign-link p-b-15 t-center\">Votre panier est vide !</div>";
					}
					nbcart--;
					icon.innerHTML = nbcart;
					iconmobile.innerHTML = nbcart;
				}
			});
		};
	}
}



</script>
<script src="/assets/js/main.js"></script>

</html>
