	<!-- Header -->
	<header class="header1" id="header">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="wrap_header">
				<!-- Logo -->
				<a href="/home" class="logo">
					<img src="/assets/images/icons/logo.png" alt="BEAUTIFEN">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li><a href="/home">Accueil</a></li>
							<li><a href=/products>Produits</a></li>
						</ul>
					</nav>
				</div>

				<!-- Header account -->
				<div class="header-icons">
					
					<form class="search-product" action="/products">
						<input class="search-txt" type="text" name="search" placeholder="Chercher un produit...">
						<button class="search-btn ab-r-m">
							<i class="fs-12 fa fa-search" aria-hidden="true"></i>
						</button>
					</form>
					
					<span class="linedivide1"></span>

					
					<div class="header-wrapicon1">
						<img src="/assets/images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="COMPTE">
						<div id="account" class="header-account header-dropdown">
								
						</div>
					</div>
					

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<a href="/cart">
							<span class="header-icons-noti" id="cart-icon"></span>
							<img src="/assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="PANIER">
						</a>
					</div>
				</div>
			</div>
		</div>
		
<!--=================Header Mobile==========================-->

		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/index.php" class="logo-mobile">
				<img src="/assets/images/icons/logo.png" alt="BEAUTIFEN">
			</a>

			<!-- Button account -->
			<div class="btn-show-menu">
				<!-- Header acount mobile -->
				<div class="header-icons-mobile">
					
					<form class="search-product <m-r-10></m-r-10>" action="/search-result">
						<input class="search-txt " type="text" name="s-product" placeholder="Recherche...">
						<button class="search-btn ab-r-m">
							<i class="fs-12 fa fa-search" aria-hidden="true"></i>
						</button>
					</form>
						
					<div class="header-wrapicon1 m-r-2">
						<img src="/assets/images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="COMPTE">
						<div id="account" class="header-account header-dropdown">
								<ul >
									<li><a href="/signin">Mon compte</a></li>
									<li><a href="/signin">Mes commandes</a></li>
									<li><a href="/logout">Me déconnecter</a></li>
								</ul>
						</div>
					</div>

					<div class="header-wrapicon2 m-r-2">
						<a href="/cart">
							<img src="/assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="PANIER">
							<span class="header-icons-noti" id="cart-icon"></span>
						</a>
					</div>
					
				</div>
			</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-menu-mobile">
						<a href="/home">Accueil</a>
					</li>

					<li class="item-menu-mobile">
						<a href=/products>Produits</a>
					</li>

				</ul>
				
			</nav>
		</div>
	</header>
	

