<!DOCTYPE html>
<head>
	<title>Beautyfen</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.png"/>

	<!--fonts-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/fonts/themify/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/fonts/elegant-font/html-css/style.css">
	
	
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/animate/animate.css"> <!-- slides -->
	<link rel="stylesheet" type="text/css" href="/assets/css/css-hamburgers/hamburgers.min.css"> <!-- menu mobile -->
	<link rel="stylesheet" type="text/css" href="/assets/select2/select2.min.css"> <!--tris-->
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"> <!-- slides -->
	<link rel="stylesheet" type="text/css" href="/assets/noui/nouislider.min.css"> <!-- price slider -->
	<link rel="stylesheet" type="text/css" href="/assets/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


{% include "header.html" %}


<body>
{% block content %}
	

{% endblock %}
</body>

{% include "footer.html" %}
