{% extends "masterPage.twig" %}
 
{% block content %}

<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/assets/images/baniere4.jpg);">
	<h2 class="l-text2 t-center" style="text-shadow: -1px -1px 0 #ffc0cb, 1px -1px 0 #efefef, -1px 1px 0 #efefef, 1px 1px 0 #efefef;">
		Commande validée!
	</h2>
</section>

<div class="container-sign p-t-55 p-b-65">

	<div class="sign-link p-b-15 t-left">
		Votre commande a bien été passée!
		<br>Vous pouvez dès à présent la retrouver dans la rubrique « Mes commandes » de votre compte.

	</div>
</div>

{% endblock %}
